<h3>comments:</h3>

<ul>
<% if comments.present? %>
<div class="comment-container1">
<% comments.each do |comment| %>
	 <% next if !comment.id.present? %>
		  <div class = "comment-buble">
		  	<br/>
		  	<label class='heading'>user:</label><%= comment.user_details  %> <br/>
		    <label class='heading'>comment:</label><%= comment.description %> 
		    <br/>
		    <br/>
		 </div>
	<% if can? :destroy, comment %>
	 	<%= link_to 'Destroy',forum_topic_comment_path(@topic.forum,@topic,comment), :method => :delete, :class=> 'comment-delete' ,data: { confirm: 'Are you sure?' } %>
 	<% end %>
 	<br/>


<% end %>
</div>
<% end %>
</ul>

<br />

<style>
.comment-delete
{
	margin-left:25px;
	margin-bottom:20px;
}
</style>